<h2>Se connecter unidirectionel</h2>
{{ userForm.valid }}
<form (ngSubmit)="register(userForm.value)" #userForm="ngForm">
  <div>
    <label>Username</label>
    <input name="username" ngModel required #username="ngModel" />
    <div *ngIf="username.dirty && username.hasError('required')">
      Username is required
    </div>
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      name="password"
      ngModel
      required
      #password="ngModel"
    />
    <div *ngIf="password.dirty && password.hasError('required')">
      Password is required
    </div>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>

<h2>Se connecter bidirectionnel</h2>
<form (ngSubmit)="register2()">
  <div>
    <label>Username</label>
    <input name="username" [(ngModel)]="user.username" />
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="user.password" />
  </div>
  <button type="submit">Register</button>
</form>
