<!-- <hlw-books></hlw-books> -->

<!-- <hlw-services></hlw-services> -->

<!-- <hlw-cars></hlw-cars> -->

<!-- <hlw-parent></hlw-parent> -->

<!-- <hlw-todos></hlw-todos> -->
<ul>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/"
  >
    Accueil
  </li>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/cars"
  >
    Voitures
  </li>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/todos"
  >
    Todos
  </li>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/parent"
  >
    Parent
  </li>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/route-parent"
  >
    Route Parent
  </li>
  <li
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="selected-menu"
    routerLink="/todo-avec-resolver/8"
  >
    Todo avec resolver
  </li>
</ul>
<router-outlet></router-outlet>
